@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
    height: 100%;
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #000;
    color: #fff;
    color-scheme: dark;
}

/* Inputs de data */
input[type="date"] {
    color-scheme: dark;
    background-color: #111827;
    color: white;
    border: 1px solid #374151;
    border-radius: 0.375rem;
    padding: 0.5rem;
    outline: none;
    width: 100%;
}

    input[type="date"]:focus {
        border-color: #f97316;
        box-shadow: 0 0 0 1px #f97316;
    }

/* Ícone do calendário branco */
::-webkit-calendar-picker-indicator {
    filter: invert(1);
    opacity: 0.6;
    cursor: pointer;
}

    ::-webkit-calendar-picker-indicator:hover {
        opacity: 1;
    }
